# zsh
.zsh_history
.zcompdump*
.zsh_sessions/

# zsh-abbr
zsh-abbr/

# fish
.config/zsh/.zsh_history
.config/zsh/.zcompdump*
.config/fish/fish_variables

# claude
.claude/*
!.claude/settings.json
!.claude/status-line.sh
